@model CurrentXpose_Admin.Entidades.Morador;

@{
    ViewData["Title"] = "Tela Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/login.css">
    <title>Login</title>
    <br /><br />
    <p>Sistema utilizado por administradores, para adicionar condominios, predios, moradores e sindicos.</p>
</head>
<body class="login-bg">
    <div class="login-container">
        <form class="login-form" method="post" asp-action="Inicial" asp-controller="Login">
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input type="text" asp-for="login" id="username" required>
            <label for="password">Password:</label>
            <input type="password" asp-for="senha" id="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>