@model CurrentXpose_Admin.Entidades.Sindico

@{
    ViewData["Title"] = "Excluir Sindico";
}

<link rel="stylesheet" href="~/css/exclusao.css" asp-append-version="true" />

<h1 class="agenda-title">Excluir Sindico</h1>

<div class="container">
    <p>Você está prestes a excluir o Sindico <strong>@Model.nome</strong>. Tem certeza que deseja continuar?</p>

    <form asp-action="Excluir" asp-controller="Sindico" method="post">
        <input type="hidden" asp-for="id" />

        <button type="submit" class="btn btn-danger btn-equal">Confirmar Exclusão</button>
        <a class="btn btn-info btn-equal" style="color:white;" asp-action="Detalhes" asp-controller="Sindico" asp-route-id="@Model.id">Cancelar</a>
    </form>

    <div class="d-flex justify-content-start mt-2">
        <a class="btn btn-secondary btn-sm" asp-action="Lista" asp-controller="Sindico">Voltar</a>
    </div>
</div>