@model IEnumerable<CurrentXpose_Admin.Entidades.Predio>

@{
    ViewData["Title"] = "Lista de Predios";
}

<link rel="stylesheet" href="~/css/lista.css" asp-append-version="true" />

<h1 class="agenda-title">Lista de Predios</h1>

<div class="container">
    <table class="table table-bordered mt-3">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var condominio in Model)
            {
                <tr>
                    <td>@condominio.nome</td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-action="Detalhes" asp-controller="Predio" asp-route-id="@condominio.id">Detalhes</a>
                        <a class="btn btn-info btn-sm" asp-action="Editar" asp-controller="Predio" asp-route-id="@condominio.id">Editar</a>
                        <a class="btn btn-info btn-sm" asp-action="Excluir" asp-controller="Predio" asp-route-id="@condominio.id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-start mt-2">
        <a class="btn btn-secondary btn-sm" asp-action="Inicial" asp-controller="Login">Voltar</a>
    </div>
</div>